:root {
  --color-primary-brand: #4D5AE5;
  --color-pressed-state: #404BBF;
  --color-valid-success: #31D0AA;
  --color-subtle-text: #8E8F99;
  --color-accent-text: #E7E9FC;
  --background-alerts: #F4F4FD;
  --color-body-text: #434455;
  --background-color-text: #2E2F42;
  --color-hover-heading: #ffffff;
  --time-transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--color-hover-heading);
  color: var(--color-body-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 1199px) {
  .section {
      padding-top: 96px;
      padding-bottom: 96px;
      

  }
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;

  transition-property: color, border, box-shadow, background;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.btn:hover,
.btn:focus,
.team-network .social-netwerk-link:hover,
.team-network .social-netwerk-link:focus,
.active::after,
.close-btn:hover,
.close-btn:focus {
  background: var(--color-pressed-state);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--color-primary-brand);
}

/* social-network */
.team-network {
  display: flex;
  gap: 24px;
}

.social-netwerk-link {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-brand);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background var(--time-transition-duration) var(--transition-timing-function);
}

.social-netwerk-icon {
  fill: var(--background-alerts);
}

.input {
  background: transparent;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  min-height: 40px;
  outline: none;

  transition: border-color var(--time-transition-duration) var(--transition-timing-function);
}

.input:focus {
  border-color: var(--color-primary-brand);
}

/**------------------------------------ header------------------------------------------- */
.logo-firstword {
  color: var(--background-color-text);
}

.header-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu-open-btn-icon {
  stroke: var(--background-color-text);
}

.header {
  border-bottom: 1px solid var(--color-accent-text);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapp>.link {
  display: block;
  padding: 24px 0;
}

.mobile-menu {
  display: none;
}

.js-open-menu {
  display: none;
}

.navigation-items .link,
.contact-item .contact {
  transition: color var(--time-transition-duration) var(--transition-timing-function);
}

/**-------mobile-header----------  */
@media screen and (max-width: 767px) {
  .container {
      max-width: 428px;
  }


  .mobile-menu.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding-top: 80px;
      padding-left: 40px;
      padding-bottom: 40px;

      position: fixed;
      top: 0;
      left: 0;

      background-color: var(--color-hover-heading);
      width: 100%;
      height: 100%;
      z-index: 999;
  }

  .close-btn.js-close-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 24px;
      right: 24px;

      width: 24px;
      height: 24px;

      background: var(--color-accent-text);
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);

      transition: background var(--time-transition-duration) var(--transition-timing-function);
  }

  .close-btn.js-close-menu:hover,
  .close-btn.js-close-menu:focus {
      background-color: var(--color-pressed-state);
      border: none;
  }

  .js-open-menu {
      display: inline-block;
      background: transparent;
      border: none;
      padding: 0;
      line-height: 0;
  }

  .contacts-list {
      margin-bottom: 48px;
  }

  .contact-item.number {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
  }

  .contact-email {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: inherit;
  }

  .mobile-menu__network {
      display: flex;
      gap: 56px;
  }

  .mobile-network-item {
      width: 40px;
      height: 40px;
  }

  .mobile-network-item .social-netwerk-link {
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-brand);
      display: flex;
  }

  .site-navigation {
      display: none;
  }

  .contacts {
      display: none;
  }

  .navigation-items>.link {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: var(--background-color-text);
  }

  .navigation-items:not(:last-child) {
      margin-bottom: 40px;
  }

  .link.active {
      color: var(--color-pressed-state);
  }
}

/** -------------tablet-header---------  */
@media screen and (min-width: 768px) {
  .container {
      width: 768px;
  }

  .header-wrapp .logo {
      margin-right: 120px;
  }

  .site-navigation {
      display: flex;
      margin-right: auto;
  }

  .navigation-list {
      display: flex;
      gap: 40px;
  }

  .navigation-items {
      position: relative;
  }

  .navigation-items>.link {
      padding: 24px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--background-color-text);
      /* position: relative; */
  }


  .active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: -1px;
      left: 0;
  }



  .contact {
      padding: 6px 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--color-body-text);
  }
}

@media screen and (max-width: 1199px) {
  .container {
      padding: 0 16px;
  }

}

/** -------------desctop-header---------  */
@media screen and (min-width: 1200px) {
  .container {
      width: 1158px;
  }

  .header-wrapp .logo {
      margin-right: 76px;
  }

  .contacts-list {
      display: flex;
      gap: 40px;
  }

  .contact {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
}


.navigation-items .link:hover,
.navigation-items .link:focus,
.contact-item .contact:hover,
.contact-item .contact:focus {
  color: var(--color-pressed-state);
}

/**------------------------------------ index-main--------------------------------------- */
/*?------------nodal ------------ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity var(--time-transition-duration) var(--transition-timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.overlay.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (max-width: 767px) {
  .modal-window {
      padding-left: 16px;
      padding-right: 16px;
  }

}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-transition-duration) var(--transition-timing-function);

  width: 100%;
  max-width: 408px;
  padding: 72px 24px 24px;

  background: #FCFCFC;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  background: var(--color-accent-text);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background var(--time-transition-duration) var(--transition-timing-function);
}

.close-btn:hover,
.close-btn:focus {
  background: var(--color-pressed-state);
  border: none;
}

.icon-close-btn {
  width: 8px;
  height: 8px;
  fill: var(--background-color-text);

  transition: fill var(--time-transition-duration) var(--transition-timing-function);
}

.close-btn:hover .icon-close-btn,
.close-btn:focus .icon-close-btn {
  fill: var(--color-hover-heading);
}

.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color-text);
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-subtle-text);
}

.name {
  letter-spacing: 0.04em;
}

.form-grop {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
}

.modal-form-input,
.modal-form-comment {
  border-color: rgba(46, 47, 66, 0.4);
}

.modal-form-input {
  width: 100%;
  padding-left: 38px;
}

.form-input-icon {
  fill: var(--background-color-text);
  width: 18px;
  height: 24px;

  position: absolute;
  top: 26px;
  left: 16px;

  transition: fill var(--time-transition-duration) var(--transition-timing-function);
}

.modal-form-input:focus+.form-input-icon {
  fill: var(--color-primary-brand);
}

@media screen and (max-width: 1199px) {
  .comment-wrapp {
      margin-bottom: 18px;
  }
}

.comment-wrapp {
  margin-bottom: 16px;
}

.modal-form-comment {
  resize: none;
  height: 120px;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.accept-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.accept-craft-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  stroke-opacity: 0;
  fill-opacity: 0;

  border-radius: 2px;
  cursor: pointer;

  transition-property: fill-opacity, border-color;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.form-input-accept:checked+.accept-craft-checkbox {
  border-color: transparent;
  fill-opacity: 1;
}
.imput-check:checked + .check-text::before {
  background-color: #2230cd;
  border: none;
  background-image: url(../images/chek.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.check-text {
  font-size: 12px;
  display: flex;
  align-items: center;
 
}
.terms-lin{
  color: #4D5AE5;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 10px;
}
.modal-field {
  margin-bottom: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--subtle-color-light-slate);
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-input-accept:focus+.accept-craft-checkbox {
  outline: 2px solid rgb(67, 68, 85);
  color: #4D5AE5;
}

.privacy-policy {
  line-height: 1.33;
  color: var(--color-primary-brand);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
}

/*?------------------------------------ hero--------------------------------------- */
.hero {
  background-color: var(--background-color-text);
  background-size: cover;
  background-position: center;
  /* padding-top: 188px; */
  /* padding-bottom: 188px; */
  text-align: center;
  /* height: 600px; */
  margin-left: auto;
  margin-right: auto;

}

.hero-title {
  letter-spacing: 0.02em;
  color: var(--color-hover-heading);
  /* margin-bottom: 48px; */
  margin-left: auto;
  margin-right: auto;
}

.servis-btn {
  background: var(--color-primary-brand);
  color: var(--color-hover-heading);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/** --------------------mobail------------------ */
@media screen and (max-width: 767px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/mobbile/office\ 1x.jpg );
      max-width: 428px;
      padding: 112px 0;
  }

  .hero-title {
      font-size: 36px;
      line-height: 1.11;
      margin-bottom: 72px;
      max-width: 320px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/mobbile/office\ 1x.jpg);
  }
}

/** ---------------------tablet--------------- */
@media screen and (min-width: 768px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/tablet/Dark-tablet.jpg);
      max-width: 768px;
      padding: 112px 0;
  }

  .hero-title {
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 36px;
      max-width: 496px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/tablet/Dark-tablet.jpg);
  }
}

/** ----------------desktop----------------------- */
@media screen and (min-width: 1200px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/desktop/bar-office.jpg);
      max-width: 1440px;
      padding: 188px 0;
  }

  .hero-title {
      margin-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
          url(../images/desktop/people-office\ 1.jpg);
  }
}

/*?------------------------------------privilages--------------------------------------- */
.privilages .item-title {
  letter-spacing: 0.02em;
  color: var(--background-color-text);
  margin-bottom: 8px;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body-text);
}

@media screen and (max-width: 1199px) {
  .icon-box {
      display: none;
  }

  .privilages .item-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
  }

  .item-text {
      font-weight: 500;
  }
}

/* ----mobile */
@media screen and (max-width: 767px) {
  .privilages-item:not(:last-child) {
      margin-bottom: 72px;
  }

  .privilages .item-title {
      text-align: center;
  }

}

/* tablet */
@media screen and (min-width: 768px) {
  .privilages-list {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 24px;
  }

  .privilages-item {
      width: calc((100% - 24px) / 2);
  }


}

/* ----desctop */
@media screen and (min-width: 1200px) {
  .privilages-list {
      gap: 24px;
  }

  .privilages-item {
      flex-basis: calc((100% - 72px) / 4);
  }

  .icon-box {
      background-color: var(--background-alerts);
      border-radius: 4px;
      height: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
  }

  .privilages .item-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
  }
}


/*?------------------------------------work--------------------------------------- */
.work {
  display: none;
}

@media screen and (min-width: 1200px) {

  .work {
      display: block;
      padding-top: 0;
  }

  .work-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--background-color-text);
      margin: 0 auto 72px;
  }

  .work-list {
      display: flex;
      gap: 24px;
  }

  .work-item {
      flex-basis: calc((100% - 48px) / 3);
      border: 1px solid var(--color-accent-text);
  }
}

/*?------------------------------------team--------------------------------------- */
.team {
  background: var(--background-alerts);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-text);
  margin-bottom: 72px;
}

.team-itam {
  background-color: var(--color-hover-heading);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.team-itam-wrapp {
  text-align: center;
  padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-text);
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body-text);
  margin-bottom: 8px;
}

/* -------mobile------- */
@media screen and (max-width: 767px) {
  .team-itam {
      margin: 0 auto;
  }

  .team-itam:not(:last-child) {
      margin-bottom: 72px;
  }
}


/*------tablet-------  */
@media screen and (min-width: 768px) {
  .team-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 64px 24px;
  }
}

/*------desctop-------  */
@media screen and (min-width: 1200px) {
  .team-list {
      gap: 24px;
  }

}

/*?------------------------------------customers--------------------------------------- */
.customers-tittle {
  color: var(--background-color-text);
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item {
  height: 88px;
}

.customers-link {
  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border var(--time-transition-duration) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-pressed-state);
}

.customers-logo {
  fill: var(--color-subtle-text);
  height: 56px;

  transition: fill var(--time-transition-duration) var(--transition-timing-function);
}

.customers-link:hover>.customers-logo,
.customers-link:focus>.customers-logo {
  fill: var(--color-pressed-state)
}

/* ---------mobile--------- */
@media screen and (max-width: 767px) {
  .customers-list {
      gap: 72px 16px;
  }

  .customers-item {
      width: 190px;
  }

  .customers-link {
      padding: 16px 40px;
  }

}

/* ----------tablet-------- */
@media screen and (min-width: 768px) {
  .customers-list {
      gap: 72px 24px;
  }

  .customers-item {
      width: 168px;
  }

  .customers-link {
      padding: 16px 32px;
  }
}

/**------------------------------------ portfolio - main---------------------------------  */
/*------------------------------------exampleworks--------------------------------------- */
.filter-btn {
  background: var(--background-alerts);
  color: var(--color-primary-brand);
  border: 1px solid var(--color-accent-text);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-hover-heading);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item-wrapp {
  border: 1px solid var(--color-accent-text);
  border-top: none;
  padding: 32px 16px;
}

.exampleworks-link {
  transition-property: color, border, box-shadow;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.exampleworks-link:hover,
.exampleworks-link:focus {
  border-color: var(--background-alerts);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}


.exampleworks-item .item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-text);
  margin-bottom: 8px;
}

.exampleworks-item .item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body-text);
}

.exampleworks-overlay {
  position: relative;
  overflow: hidden;
}

.exampleworks-overlay img {
  width: 100%;
}

.overlay-background {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background: var(--color-primary-brand);

  transition: transform var(--time-transition-duration) var(--transition-timing-function);
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-alerts);
}

.exampleworks-link:hover .overlay-background,
.exampleworks-link:focus .overlay-background {
  transform: translateY(-100%);
}

/* ----------mobile---------- */
@media screen and (max-width: 767px) {
  .exampleworks {
      padding-top: 48px;
      padding-bottom: 48px;
  }

  .filters-list {
      margin-bottom: 48px;
  }

  .filter-item {
      display: inline-block;
  }

  .filter-item:first-child {
      margin-bottom: 16px;
  }

  .filter-item:not(:last-child) {
      margin-right: 24px;
  }

  .filter-btn {
      height: 40px;
      padding: 8px 16px;
  }

  .exampleworks-item {
      width: 396px;
      height: 400px;
  }

  .exampleworks-item:not(:last-child) {
      margin-bottom: 48px;
  }
}

/* ----------tablet---------- */
@media screen and (min-width: 768px) {
  .exampleworks {
      padding-top: 64px
  }

  .filters-list {
      display: flex;
      gap: 24px;
      margin-bottom: 64px;
      justify-content: center;
  }

  .filter-btn {
      height: 48px;
      padding: 12px 24px;
  }

  .exampleworks-list {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 24px;
  }

  .exampleworks-item {
      width: 356px;
      height: 420px;
  }

  .overlay-background {
      width: 356px;
      height: 300px;
  }
}

/* -----------desctop--------- */
@media screen and (min-width: 1200px) {
  .exampleworks {
      padding-top: 100px;
  }

  .filters-list {
      margin-bottom: 72px;
  }

  .exampleworks-list {
      row-gap: 48px;
  }

  .exampleworks-item {
      width: 360px;
  }

  .overlay-background {
      width: 360px;
      height: 300px;
  }
}


/**-------------------------------- footer----------------------------- */
.footer {
  background-color: var(--background-color-text);
}

.footer-wrapp {
  display: flex;
}

.footer-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-accent-text);
}

.logo-footerword {
  color: var(--background-alerts);
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-hover-heading);
  margin-bottom: 16px;
}

.footer-social-box .social-netwerk-link:hover,
.footer-social-box .social-netwerk-link:focus {
  background-color: var(--color-valid-success);
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-hover-heading);
  margin-bottom: 16px;
}

.footer-email-input {
  border-color: var(--color-hover-heading);
  color: var(--color-hover-heading);
  height: 40px;


  transition: border var(--time-transition-duration) var(--transition-timing-function);
}

.footer-email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-hover-heading);
}

.footer-modal-btn {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background: var(--color-primary-brand);
  color: var(--color-hover-heading);
  padding: 8px 24px;
  border: none;
}

.modal-btn-icon {
  margin-left: 16px;
  fill: var(--color-hover-heading);
  width: 24px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .footer {
      padding-top: 96px;
      padding-bottom: 96px;
   
  }

  .footer .team-network {
      gap: 16px;
  }

  .footer-box {
      margin-bottom: 72px;
  }
}

/* --------mobile--------- */
@media screen and (max-width: 767px) {
  .footer-wrapp {
      flex-direction: column;
      align-items: center;
    
  }


  .footer-box .logo {
      text-align: center;
  }

  .footer-text {
      width: 268px;
  }

  .footer-social-box {
      margin-bottom: 72px;
  }

  .social-title {
      text-align: center;
  }

  .footer-form-wrapp {
      width: 100%;
  }

  .footer-form {
      max-width: 398px;
  }

  .footer-form-title {
      text-align: center;

  }

  .footer-email-input {
      width: 100%;
      margin-bottom: 16px;
  }

  .footer-modal-btn {
      margin: 0 auto;
  }
}

/* --------tablet--------- */
@media screen and (min-width: 768px) {
  .footer-wrapp {
      display: flex;
      flex-wrap: wrap;
  }

  .footer-box {
      margin-right: 24px;
       margin-left: 100px; 
  }
  .footer-form-title {
    margin-left: 100px;
  }

  .footer-text {
      width: 264px;
  }

  .footer-form {
      display: flex;
  }

  .footer-email-input {
      margin-right: 24px;
      width: 264px;
       margin-left: 100px; 
  }
}

/* --------------desctop----------- */
@media screen and (min-width: 1200px) {
  .footer {
      padding-top: 100px;
      padding-bottom: 100px;
  }

  .footer-wrapp {
      flex-wrap: nowrap;
  }

  .footer-box {
      margin-right: 120px;
  }

  .footer-social-box {
      margin-right: 80px;
  }
}