/**------- Common rules -------**/
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

:root {
  --primary-brand-color-iris: #4d5ae5;
  --hovered-color-ocean: #404bbf;
  --title-color-navy-blue: #2e2f42;
  --brand-text-color-slate: #434455;
  --background-color-white: #ffffff;
  --card-background-color-cloud: #f4f4fd;
  --success-color-green: #31d0aa;
  --subtle-color-light-slate: #8e8f99;
  --border-color-cornflower: #e7e9fc;
  --overlay-color-navy-blue-modal: #2e2f42;
  --hero-background-color-grey: #2e2f42;
  --modal-background-color-dairy: #fcfcfc;
}

/*! -------reset------- */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.no-scroll {
  overflow: hidden;
}
address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*? Content */

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--background-color-white);
  color: var(--brand-text-color-slate);
}

.container {
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.curent {
  position: relative;
}

.curent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-color-navy-blue);
}

.title {
  /* font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center; */
  color: var(--title-color-navy-blue);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color-navy-blue);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-text-color-slate);
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** --------- Header --------- */

.header-section {
  margin-bottom: 44px;
}

.header-container {
  display: flex;
}

.header-nav {
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  color: var(--primary-brand-color-iris);
}

.dark-logo {
  color: var(--title-color-navy-blue);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--hovered-color-ocean);
}

.header-item {
  display: inline-block;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--title-color-navy-blue);
}

.contacts-list {
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  align-items: center;
  display: flex;
}

.contacts-item {
  display: inline-block;
}

.contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--brand-text-color-slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hovered-color-ocean);
}

.header-box {
  border-bottom: 1px solid var(--border-color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/** --------- Hero --------- */

.hero-section {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bar-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color-white);
}

.hero-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 72px;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  height: 56px;
  left: 129px;
  top: 334px;
  color: var(--background-color-white);
  background-color: var(--primary-brand-color-iris);
  border-color: transparent;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------кінец-------------------- */

/* .button:is(:hover, :focus) {
    color: var(--background-color-white);
    background-color: var(--hovered-color-ocean);
} */

.button:hover,
.button:focus {
  color: var(--background-color-white);
  background-color: var(--hovered-color-ocean);
}

/** --------- Features --------- */

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.features-svg {
  color: #4d5ae5;
}

.features-item {
  display: inline-block;
  max-width: 264px;
}

.features-item:not(:last-child) {
}

.features-list .block {
  display: none;
}

.features-subtitle {
  margin-bottom: 8px;
}

/** --------- Services --------- */

.services-section {
  padding-bottom: 120px;
}

.services-title {
  margin-bottom: 72px;
  text-transform: capitalize;
}

.services-list {
  display: flex;
}

.services-item:not(:last-child) {
  margin-right: 24px;
}

/** --------- Team --------- */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--card-background-color-cloud);
}

.team-title {
  margin-bottom: 72px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-member {
  padding-bottom: 32px;
  text-align: center;
}

.desc {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  margin-bottom: 8px;
}

.desc .socials-list {
  display: flex;
  width: 232px;
  gap: 24px;
  justify-content: center;
}

.socials-list .links {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var(--primary-brand-color-iris);
  fill: var(--card-background-color-cloud);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list .links:hover,
.socials-list .links:focus {
  fill: var(--card-background-color-cloud);
  background-color: var(--hovered-color-ocean);
}

/** ------- Customers ------- */
/* ------------------------Galery ----------------------  */

.features-text {
  margin-bottom: 44px;
}
.client-text {
  position: absolute;
  width: 197.47px;
  height: 40px;
  left: 115px;
  top: 3646px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.clients-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.clients-title {
  margin-bottom: 71px;
  /* margin-bottom: 72px; */
}

.clients-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.clients-link {
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-color-light-slate);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--subtle-color-light-slate);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--hovered-color-ocean);
  fill: var(--hovered-color-ocean);
}

/** --------- Footer --------- */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--title-color-navy-blue);
}
.footer-container {
  display: flex;
}
.footer-item {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--primary-brand-color-iris);
}

.logo-light {
  color: var(--card-background-color-cloud);
}

.footer-text {
  max-width: 264px;
  color: var(--card-background-color-cloud);
}

.footer-socials {
  display: inline-block;
}

.footer-title.subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--background-color-white);
}

.footer-socials {
  display: inline-block;
  margin-right: 80px;
}

.footer-soclist {
  display: flex;
  gap: 16px;
}

.email-sub .lebel-sub {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.email-sub .input-sub {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  background-color: transparent;
  color: var(--background-color-white);
  border: 1px solid var(--background-color-white);
  border-radius: 4px;

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.email-sub .sub-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  gap: 16px;

  color: var(--background-color-white);
  background: var(--primary-brand-color-iris);
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
}
.sub-button .icon-svg {
  width: 24px;
  height: 24px;
  fill: var(--background-color-white);
}

.footer-soclist .links {
  display: flex;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  justify-content: center;
  align-items: center;
  fill: var(--card-background-color-cloud);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soclist .links:hover,
.footer-soclist .links:focus {
  fill: var(--card-background-color-cloud);
  background-color: var(--success-color-green);
}

/*? --------- портфолио-микс--------- */

.example-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.filter-button {
  padding: 12px 24px;
  border: 1px solid var(--border-color-cornflower);
  border-radius: 4px;
  color: var(--primary-brand-color-iris);
  background: var(--card-background-color-cloud);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--background-color-white);
  background: var(--hovered-color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/** --------- Example --------- */
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.example-item {
  flex-basis: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.example-item:nth-last-child(-n + 3) {
  margin-bottom: none;
}
.block {
  position: relative;
  overflow: hidden;
}
.example-item:hover .example {
  transform: translatey(0);
}

.example {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-brand-color-iris);

  transform: translateY(100%);
  transition-property: transform, color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example-cover.text {
  padding: 40px 32px 164px 32px;
  text-align: justify;
  color: var(--card-background-color-cloud);
}
.block {
  position: relative;
  overflow: hidden;
}

.example-desc {
  padding: 32px 16px;
  border: 1px solid var(--border-color-cornflower);
  border-top: none;
}

.example-subtitle {
  margin-bottom: 8px;
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.432);
  /* z-index: 20;
     display: flex;
     justify-content: center;
     align-items: center; */

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  fill: var(--overlay-color-navy-blue-modal);
  background-color: var(--border-color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--background-color-white);
  background-color: var(--hovered-color-ocean);
}

.modal-title {
  margin-top: 72px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: Roboto;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: transparent;

  font-size: 14px;
  padding-left: 30px;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input::placeholder {
  font-size: 12px;
}

.input-wrap {
  position: relative;
}
.modal-form {
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 24px;
  padding-right: 24px;
}
.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--subtle-color-light-slate);
}
.modal-label span {
  display: block;
  margin-bottom: 5px;
}
.input-text {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
}
.modal-textarea {
  width: 100%;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  outline: transparent;
  color: #4d5ae5;
  font-size: 12px;
  padding-left: 16px;
  padding-top: 8px;

  padding-bottom: 98px;
  resize: none;
}
.modal-field {
  margin-bottom: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--subtle-color-light-slate);
  letter-spacing: 0.02em;
}
.icon-checkbox {
  position: absolute;
  display: inline-flex;
  top: 50%;
  left: 0;
  margin-right: 8px;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;

  fill: var(--background-color-white);
  /* background-color: var(--hovered-color-ocean); */

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 10px;
}
.imput-check:checked + .check-text::before {
  background-color: #2230cd;
  border: none;
  background-image: url(../images/chek.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form-submit {
  border-radius: 6px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 119px;
  top: 504px;
  letter-spacing: 0.06em;
  border-color: transparent;
  color: #ffffff;
  background: #4d5ae5;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hovered-color-ocean);
  color: #fcfcfc;
}
.terms-lin {
  color: #2230cd;
  padding-left: 3px;
}
